/* --------------- Variables -------------------- */
:root {
    --time: 1500s;
    --background: #edead0;
    --container: #3ab795;
    --main-clock: #a0e8af;
    --clock-shadow: #86baa1;
    --hilight: #ffcf56;
}

/* --------------- Common tags -------------------- */
body {
	background-color: var(--background);
}
h1 {
	color: #000;
	text-align: center;
}
p {
	color: #000;
	size: 20px;
}
a {
	margin: .5em;
}


/* ----------------- Specific tags ---------------------------*/
.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/*--------------- Dial Component Style --------------------- */
.dial-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 300px;
	height: 350px;
	background-color: var(--container);
}

.dial {
	position: relative;
	height: 200px;
	width: 200px;
	background-color: var(--container);
	box-sizing: border-box;
}

.dial-number {
	position: absolute;
	z-index: 1000;
}

#full-time {
	top: 10px;
	left: 43%;
}

#quarter-time {
	top: 45%;
	right: 10px;
}

#half-time {
	bottom: 10px;
	left: 40%;
}

#three-quarter-time {
	top: 45%;
	left: 10px;
}


.dial-button {
	position: absolute;
	top: 40%;
	left: 43%;
	height: 35px;
	width: 35px;
	z-index: 1000;
}

/*----------------Spinner Style and animation ---------------------- */

.pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: var(--main-clock);
  border: 5px solid rgba(0,0,0,0.4);
  box-sizing: border-box;
}

.spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 200;
  border-right: none;
  box-sizing: border-box;
}

.spinner-ani {
  animation: rota var(--time) linear infinite;
  animation-play-state: running;
}

.filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  z-index: 100;
  border-left: none;
  left: 50%;
  opacity: 0;
  box-sizing: border-box;
}

.filler-ani {
  animation: opa var(--time) steps(1, end) infinite reverse;
  animation-play-state: running;
}

.mask {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 300;
  opacity: 1;
  background: inherit;
  box-sizing: border-box;
}

.mask-ani {
  animation: opa var(--time) steps(1, end) infinite;
  animation-play-state: running;
}

.paused {
	animation-play-state: paused;
}

@keyframes rota {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes opa {
  0% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

/*------------------------------- Time Control Component Style --------------------- */

.time-control-container {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.time-adjuster-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 75px;
}

.counter-and-arrow-container {
	display: flex;
	align-items: center;
	height: 60px;
}

.counter {
	font-size: 24px;
}

.arrow-container {
	display: flex;
	flex-direction: column;
}
.arrow {
	height: 15px;
	width: 15px;
	padding-left: 3px;
}

.no-show {
	display: none;
}

.label {
	margin: 0;
}

.reset-button {
	font-size: 24px;
}

/* ----------------- Footer Component Style ----------------------*/

.footer-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer-text {
	text-align: center;
}