/* --------------- Common tags -------------------- */
h1 {
	color: #000;
	text-align: center;
}
p {
	color: #000;
	size: 20px;
}
a {
	margin: .5em;
}


/* ----------------- Specific tags ---------------------------*/
.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dial-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 350px;
	height: 350px;
	background-color: grey;
}

.dial {
	position: relative;
	border-radius: 50%;
	height: 250px;
	width: 250px;
	background-color: white;
}

.dial-number {
	position: absolute;
}
	#full-time{
		top: 10px;
		left: 43%;
	}
	#quarter-time{
		top: 45%;
		right: 10px;
	}
	#half-time{
		bottom: 10px;
		left: 40%;
	}
	#three-quarter-time{
		top: 45%;
		left: 10px;
	}